/*------reset styles start-------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------reset styles end-------*/

* {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.vertical-flex-main-wrapper {
  min-height: 100vh;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.background-image__flex-element {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
}

.background-image__img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu {
  background-color: #4a4a4a;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.menu__wrapper {
  width: 80%;
  margin: 0 auto;
}

.menu__navigation {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__navigation-link {
  color: #ffffff;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.menu__navigation-link::before {
  content: '';
  position: absolute;
  left: 0;
  height: 1px;
  bottom: 0;
  background: #ffffff;
  width: 0%;
}

.menu__navigation-link:hover:before {
  right: 0;
  width: 100%;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.menu__navigation-link_active::before {
  right: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 100%;
}

.footer {
  color: #ffffff;
  height: 60px;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  z-index: 1;
}

.footer__copyright,
.footer__email {
  color: #ffffff;
  margin: 0 20px;
  font-weight: 200;
  font-family: Montserrat;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: Regular;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: SemiBold;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: Regular;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: SemiBold;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

.promo {
  display: none;
  position: relative;
}

.promo__title {
  text-align: center;
  margin-top: 9%;
  font-size: 85px;
  letter-spacing: 10px;
  opacity: 0.6;
}

.sites {
  display: none;
}

.contacts {
  display: none;
  position: relative;
}

.contacts__dark-filter {
  background: rgba(0, 0, 0, 0.245);
  position: absolute;
  height: 100%;
  width: 100%;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__form {
  position: relative;
  margin: 100px 15px 0px 15px;
  border: solid 1px #ffffff;
  border-top: none;
  padding: 30px;
}

.contacts__form::after {
  content: '';
  height: 1px;
  width: 133px;
  top: 0;
  right: 0;
  background-color: #ffffff;
  position: absolute;
}

.contacts__form::before {
  content: '';
  height: 1px;
  width: 133px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  position: absolute;
}

.contacts__form-title {
  z-index: 100;
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 35px;
  letter-spacing: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.contacts__form-subtitle {
  margin-top: 10px;
  color: #ffffff;
}

.contacts__input {
  margin-top: 15px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__input input {
  background: url("../img/contacts/background/1px.png") repeat;
  border: 1px solid #ffffff;
  padding: 10px 10px;
  width: 330px;
  color: #ffffff;
}

.contacts__input input::-webkit-input-placeholder {
  color: #ffffff7b;
}

.contacts__input input::-moz-placeholder {
  color: #ffffff7b;
}

.contacts__input input:-ms-input-placeholder {
  color: #ffffff7b;
}

.contacts__input input::-ms-input-placeholder {
  color: #ffffff7b;
}

.contacts__input input::placeholder {
  color: #ffffff7b;
}

.contacts__input label {
  margin-left: 30px;
  color: white;
}

.contacts__textarea {
  margin-top: 25px;
  position: relative;
}

.contacts__textarea::after {
  content: '';
  height: 0.5px;
  width: 164px;
  top: 0;
  right: 0;
  background-color: #ffffff;
  position: absolute;
}

.contacts__textarea::before {
  content: '';
  height: 0.5px;
  width: 164px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  position: absolute;
}

.contacts__textarea textarea {
  background: url("../img/contacts/background/1px.png") repeat;
  border: 1px solid #ffffff;
  padding: 10px 10px;
  resize: none;
  width: 100%;
  border-top: none;
  color: #ffffff;
}

.contacts__textarea label {
  color: #ffffff;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: -7px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contacts__triggers {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__btn {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px;
  font-weight: 600;
}

.contacts__policy {
  margin-left: 40px;
  max-width: 350px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__policy span {
  margin-left: 20px;
}

.contacts__policy-link {
  color: #ffffff;
}

.web-apps {
  display: none;
  position: relative;
}

.web-apps__sidebar {
  position: absolute;
  width: 340px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.694);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-272px);
      -ms-transform: translateX(-272px);
          transform: translateX(-272px);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.web-apps__sidebar_active {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.web-apps__sidebar-menu {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
}

.web-apps__sidebar-panel {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  background-color: rgba(0, 0, 0, 0.319);
}

.web-apps__sidebar-arrow {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  -webkit-mask: url("../img/web-apps/icon/right-arrow.svg") center no-repeat;
          mask: url("../img/web-apps/icon/right-arrow.svg") center no-repeat;
  background-color: rgba(255, 255, 255, 0.415);
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.web-apps__sidebar-arrow_active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.section-active {
  display: block;
  -webkit-animation: 1s fadeIn;
          animation: 1s fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.webp .contacts__input input { background: url(../img/contacts/background/1px.webp) repeat; }

.webp .contacts__textarea textarea { background: url(../img/contacts/background/1px.webp) repeat; }