.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	
	color: #ffffff;
	background-color:rgb(41, 41, 41);
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	z-index: 1;
	padding: 25px 0;
	&__copyright, &__email{
		color: #ffffff;
		margin: 0 20px;
		font-weight: 200;
		font-family: 	Montserrat;
	}
}

@media (max-width: 524px){
	.footer{
		flex-direction: column;
		padding: 17px 0;
		z-index: 1000;
		
		&__elem{
			margin-top: 5px;
			&:first-child{
				margin-top: 0;
			}
		}
		
	}
}