.footer{
	color: #ffffff;
	height: 60px;
	background-color:rgb(41, 41, 41);
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	z-index: 1;
	&__copyright, &__email{
		color: #ffffff;
		margin: 0 20px;
		font-weight: 200;
		font-family: 	Montserrat;
	}
}