//==========JS CLASSES=============
.section-active{
	display: block;
	animation: 1s fadeIn;
	animation-fill-mode: forwards;
};

.firstLoad{
	display: block;
	animation: 3s fadeIn;
	animation-fill-mode: forwards;
};

@keyframes fadeIn {
	0% {
	  opacity: 0;
	};
	100% {
	  opacity: 1
	};
};

.active-app{
	right: 50%;
	transform: translateX(50%);
}
.sidebar-active{
	color: #ffffff
}