.about-me {
	display: none;
	position: relative;
	margin-top: -50px;
	&__resume-wrapper {
		padding: 10px;
		margin: 0 auto;
		margin-top: 120px;
		max-width: 900px;
		background: hsla(0, 0%, 59%, 0.394);
		margin-bottom: 100px;
	}

	&__resume-bg {
		background: #ffffff;
		height: 100%;
	}

	&__flex-wrapper {
		display: flex;
		height: 100%;
	}

	&__flex-item {
	}
	&__flex-item-left-side {
		flex: 0 0 300px;
		background: rgb(235, 235, 235);
		padding: 20px;
	}
	&__flex-item-right-side {
		padding: 20px;
		width: 100%;
	}

	&__avatar-wrapper {

	}

	&__avatar {
		margin: 0 auto;
		margin-top: 20px;
		width: 240px;
		border: solid rgb(204, 204, 204) 4px;
		border-radius: 50%;
		padding: 6px;
	}

	&__avatar-img {
		max-width: 100%;
	}
	&__contacts {

	}
	&__contact {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	&__contacts-icon-wrapper {
		flex: 0 0 50px;
	
	}
	&__contacts-icon {
		flex: 0 0 50px;
		fill: #5f5f5f;
		width: 30px;
		height: 30px;
	}
	&__contacts-icon.vk {
		width: 33px;
		height: 33px;
	}
	&__contacts-discription {
		
	}
	&__profile-title-wrapper{
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}
	&__profile-title {
		display: inline-block;
	}

	&__profile-discription {
		margin-top: 20px;
		//max-width: 240px;
		text-align: center;
	}

	&__current-location {
	}

	&__phone-number {
	}

	&__my-name {
		margin-top: 50px;
		font-size: 36px; 
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
	}
	&__my-name span{
		color: #a2a2a2;
	}
	&__specialization {
		margin: 0 auto;
		margin-top: 30px;
		text-align: center;
		background: black;
		width: 100%;
		color: #a2a2a2;
		padding: 10px 0;
		letter-spacing: 5px;
		font-weight: 600;
		margin-bottom: 30px;
	}
	&__name-wrapper {
		display: flex;
		flex-direction: column;
		max-width: 70%;
		margin: 0 auto;
	}

	&__main-page-title {
		margin-top: 35px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		color: rgb(95, 95, 95);
		letter-spacing: 2px;
		position: relative;
		&::before {
			content:'';
			top: 50%;
			right: 70px;
			position: absolute;
			width: 40px;
			height: 2px;
			background: rgb(95, 95, 95);
		}
		&::after{
			content:'';
			top: 50%;
			left: 70px;
			position: absolute;
			width: 40px;
			height: 2px;
			background: rgb(95, 95, 95);
		}
	}
	&__courses-wrapper{
		margin-top: 30px;
		
	}
	&__courses {
		margin-top: 8px;
	}
	&__course {
		
	}
	&__course-title-wripper {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		
		&:hover .about-me__course-arrow{
			fill: rgb(230, 22, 22);
		}
		&:hover .about-me__course-title {
			color: rgb(230, 22, 22);
		}
	}
	&__course-link{
		text-align: right;
		display: block;
		margin-top: 10px;
		margin-right: 30px;
		color: #5f5f5f;
		font-weight: 600;
	}
	&__course-title {
		font-size: 17px;
		color: #5f5f5f;
		font-weight: 600;
		transition: all .5s;
		padding-right: 10px;
		
	}
	&__course-title span {
		font-style: italic;
		color: #5f5f5f !important;
	}
	&__course-arrow {
		width: 15px;
		transition: all 0.5s;
		margin-top: 5px;
	}
	&__course-arrow.active {
		transform: rotate(180deg);
	}
	&__course-discription {
		overflow: hidden;
		margin-top: 10px;
		line-height: 21px;
		color: #5f5f5f;
		transition: all 1.5s;
		max-height: 0;
	}
	&__course-discription div{
		font-weight: 600;
		margin-bottom: 10px;
	}

	&__profile-discription-flex-wrapper{
		display: flex;
		justify-content: center;
	}

	&__course-discription.active{
		max-height: 700px;
	}
	&__cursive{
		font-style: italic;
	}
	&__skills-wrapper{
		max-width: 380px;
		margin: 0 auto;
	}
	&__skill{
		margin-top: 20px;
	}
	&__skill-top-part{
		display: flex;
		justify-content: space-between;
	}
	&__skill-bottom-part{
		margin-top: 10px;
		position: relative;
		&::after{
			content:'';
			top: 0;
			position: absolute;
			height: 15px;
			width: 100%;
			border: solid 1px #5f5f5f;
			border-radius: 15px;
		}
	}
	&__skill-name{
		font-size: 14px;
    	color: #5f5f5f;
	}
	&__skill-main-bar{
		height: 15px;
	}
	&__skill-inside-bar{
		height: 100%;
		background: #5f5f5f;
		border-radius: 15px 0 0 15px;
	}

	&__work-experience{
		margin-top: 30px;
	}

	&__work-experience-wrapper{
		margin-top: 10px;
	}

	&__work-experience-flex-wrapper{
		display: flex;
	}

	&__work-experience-profession-flex, &__work-experience-company-flex{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 40px;
	}

	&__work-experience-profession{
		font-size: 17px;
		color: #5f5f5f;
		font-weight: 600;
	}
	&__work-experience-company-year, &__work-experience-company-name{
		font-size: 17px;
		font-style: italic;
		color: #5f5f5f;
	}
	&__work-experience-divider{
		padding: 0px 10px;
		position: relative;
		&::after{
			content:'';
			position: absolute;
			width: 2px;
			height: 100%;
			background-color: #5f5f5f;

		}
	}

	&__work-experience-responsibilitys, &__work-experience-achievementsб{
		margin-top: 10px;
	}
	&__work-experience-responsibility, &__work-experience-achievement, &__info{
		line-height: 21px;
    	color: #5f5f5f;
	}

	&__work-experience-achievement{
		margin-top: 10px;
	}

	&__info-wrapper{
		margin-top: 30px;
	}

	&__info{
		margin-bottom: 30px;
	}




}


//standart

.resume-h2{ //profile, skills, 
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(95, 95, 95);
	letter-spacing: 2px;
	&::before {
		content:'';
		top: 50%;
		left: -60px;
		position: absolute;
		width: 40px;
		height: 2px;
		background: rgb(95, 95, 95);
	}
	&::after{
		content:'';
		top: 50%;
		right: -60px;
		position: absolute;
		width: 40px;
		height: 2px;
		background: rgb(95, 95, 95);
	}
}
.resume-h3{//adress, email, phone, url
	color: rgb(71, 71, 71);
	font-weight: 600;
}

.resume-regular-text{
	line-height: 18px;
	color: #5f5f5f
}


//www.linkedin.com/in/StasVasilev


@media(max-width: 900px) {
	.about-me{
		background-image: linear-gradient(to right top, #f19129, #f1a941, #f2bf5c, #f4d378, #f7e797, #f9eb9d, #faeea2, #fcf2a8, #fce795, #fcdc83, #fdd072, #ffc462);
		&__flex-wrapper{
			flex-direction: column;
		}
		&__resume-wrapper{
			margin: 0 10px;
			margin-bottom: 100px;
			margin-top: 80px;

		}
		&__name-wrapper{
			max-width: 100%;
		}
		&__course-title{
			line-height: 25px;
		}
		&__course-title-wripper {
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			
			&:hover .about-me__course-arrow{
				fill: #5f5f5f;
			}
			&:hover .about-me__course-title {
				color: #5f5f5f;
			}
		}
		&__contact{
			max-width: 260px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.resume-h2{
		line-height: 20px;
	}
	.background-image.hide{
		display: none;
	}
}


@media(max-width: 532px) {
	.about-me__work-experience-profession-flex, .about-me__work-experience-company-flex{
		height: 80px
	}
}



@media(max-width: 500px) {
	.resume-h2{
		max-width: 190px;
		margin-top: 15px;
		&::after{
			width: 25px;
			right: -35px;
		}
		&::before{
			width: 25px;
			left: -35px;
		}
	}

	.about-me{
		&__my-name{
			line-height: 50px;
		}
	}
}

@media(max-width: 340px) {
	.about-me__work-experience-profession-flex, .about-me__work-experience-company-flex{
		height: 100px
	}
}