.about-me {
	display: none;
	position: relative;
	margin-top: -50px;
	&__resume-wrapper {
		padding: 10px;
		margin: 0 auto;
		margin-top: 120px;
		max-width: 900px;
		background: hsla(0, 0%, 59%, 0.394);
		height: 1000px;

	}

	&__resume-bg {
		background: #ffffff;
		height: 100%;
	}

	&__flex-wrapper {
		display: flex;
		height: 100%;
	}

	&__flex-item {
	}
	&__flex-item-left-side {
		flex: 0 0 300px;
		background: rgb(235, 235, 235);
		height: 100%;
		padding: 20px;
	}
	&__flex-item-right-side {
		padding: 20px;
		width: 100%;
	}

	&__avatar-wrapper {

	}

	&__avatar {
		margin: 0 auto;
		margin-top: 20px;
		width: 240px;
		border: solid rgb(204, 204, 204) 4px;
		border-radius: 50%;
		padding: 6px;
	}

	&__avatar-img {
		max-width: 100%;
	}
	&__contacts {

	}
	&__contact {
		display: flex;
		margin-top: 20px;
	}
	&__contacts-title {
		flex: 0 0 80px;
	}
	&__contacts-discription {
		
	}

	&__profile-title {

	}

	&__profile-discription {
		margin-top: 20px;
	}

	&__current-location {
	}

	&__phone-number {
	}

	&__my-name {
		margin-top: 50px;
		font-size: 36px; 
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
	}
	&__my-name span{
		color: #a2a2a2;
	}
	&__specialization {
		margin: 0 auto;
		margin-top: 30px;
		text-align: center;
		background: black;
		width: 100%;
		color: #a2a2a2;
		padding: 10px 0;
		letter-spacing: 5px;
		font-weight: 600;
	}
	&__name-wrapper {
		display: flex;
		flex-direction: column;
		max-width: 70%;
		margin: 0 auto;
	}

	&__courses-title {
		margin-top: 20px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		color: rgb(95, 95, 95);
		letter-spacing: 2px;
	}

	&__courses {
		margin-top: 20px;
	}
	&__course {
		
	}
	&__course-title-wripper {
		cursor: pointer;
		max-width: 70%;
		display: flex;
		justify-content: space-between;
		
		&:hover .about-me__course-arrow{
			//transform: scale(1.2);
			fill: rgb(230, 22, 22);
		}
	}
	&__course-title {
		font-size: 17px;
		color: #5f5f5f;
		font-weight: 600;
	}
	&__course-title span {
		font-style: italic;
	}
	&__course-arrow {
		width: 15px;
		transition: all 0.5s;
	}
	&__course-arrow.active {
		transform: rotate(180deg);
	}
	&__course-discription {
		overflow: hidden;
		margin-top: 10px;
		line-height: 18px;
		color: #5f5f5f;
		transition: all 0.5s;
		max-height: 0;
	}
	&__course-discription.active{
		max-height: 400px;
	}
}


//standart

.resume-h2{ //profile, skills, 
	position: relative;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: rgb(95, 95, 95);
	letter-spacing: 2px;
	&::before, &::after{
		content:'';
		top: 50%;
		left: 15px;
		position: absolute;
		width: 40px;
		height: 2px;
		background: rgb(95, 95, 95);
	}
	&::after{
		left: 205px;
	}
}
.resume-h3{//adress, email, phone, url
	color: rgb(71, 71, 71);
	font-weight: 600;
}
.resume-h3-cursive{

}

.resume-regular-text{
	line-height: 18px;
	color: #5f5f5f
}
