.promo {
	display: none;
	position: relative;
	&__title{
		text-align: center;
		line-height: 64px;
		margin-top: 75px;
		font-size: 48px;
		letter-spacing: 10px;
		opacity: .6;
		font-weight: 500;
	}
}

@media(max-width: 550px) {
	.promo {
		&__title{
			font-size: 43px;
			margin-top: 40px;
		}
	}
}