
.bmi-calculator {
	max-width: 600px;
	min-width: 465px;
	color: #ffffff;
	font-size: 25px;
	position: absolute;
	right: -2000px;
	transition: all 2s;

	&__title {
		padding: 15px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.535);
	}

	&__wrapper {
		padding: 25px;
		background-color: rgba(0, 0, 0, 0.412);
	}

	&__height-field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}

	&__height-text {
		margin-right: 25px;
	}

	&__height, &__weight{
		font-size: 30px;
		width: 70px;
		padding: 7px;
		background-color:rgba(255,255,255,.289);
		text-align: center;
		color: #ffffff;
		&::-webkit-input-placeholder{
			color: rgba(201, 198, 198, 0.898)
		}
		&::-moz-input-placeholder{
			color: rgba(201, 198, 198, 0.898)
		}
		&::-ms-input-placeholder{
			color: rgba(201, 198, 198, 0.898)
		}
	}

	&__weight-field {
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__weight-text {
		padding: 7px;
	}

	&__answer-field {
		margin-top: 25px;
		background-color: rgba(255, 255, 255, 0.44);
		width: 100%;
		line-height: 20px;
	}

	&__btn {
		display: block;
		margin: 0 auto;
		margin-top: 25px;
		padding: 10px 25px;
		font-size: 25px;
		
	}
}


@media (max-width: 490px) {
	.bmi-calculator {
		font-size: 19px;
		min-width: 300px;
		&__btn{
			font-size: 20px;
			padding: 5px 10px;
		}
	}
}