.fuel-calculator {
	background-color: rgba(0, 0, 0, 0.412);
	padding: 25px 40px;
	color: rgba(255, 255, 255, 0.946);
	font-size: 25px;
	position: absolute;
	right: -100%;
	transition: all 2s;
	&__title{
		text-align: center;
	}

	&__result {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.289);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	padding: 15px 20px;
	}

	&__distance-block, &__fuel-consumption-block, &__fuel-price-block {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__distance-text {
	}

	&__distans-enter, &__fuel-consumption-enter, &__fuel-price-enter {
		
		background-color: rgba(255, 255, 255, 0.289);
		padding: 10px 20px;
		color: #ffffff;
		font-size: 25px;
		width: 150px;
		text-align: center;
	}

	&__fuel-consumption-text {
	}

	&__fuel-price-text {
		margin-right: 20px;
	}

	&__btn {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		padding: 7px 20px;
		font-size: 25px;
	}
}
