.time-counter {
	// max-width: 600px;
	color: #ffffff;
	font-size: 25px;
	position: absolute;
	right: -2000px;
	transition: all 2s;
	&__global-wrapper{
		padding: 20px 10px;
		background-color: rgba(0, 0, 0, 0.412);
	}	
	&__title {
		padding: 15px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.535);
	}
	&__subtitle{
		text-align: center;
	}
	&__user-enter-wrapper, &__result-wrapper {
		padding: 25px;
		margin:0 -10px ;
		display: flex;
		justify-content: center;
	}
	&__result-wrapper{
		display: none;
		padding-top: 5px;
		flex-direction: column;
		align-items: center;
	}
	&__divider{
		margin-top: 20px;
	}
	&__day-wrapper, &__mounth-wrapper, &__year-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 10px;
	}

	&__day-inp, &__mounth-inp, &__year-inp {
		margin-top: 5px;
		width: 80px;
		font-size: 24px;
		text-align: center;
		background-color:rgba(255,255,255,.289);
		color: #ffffff;
		&::-webkit-input-placeholder{
			color: rgba(201, 198, 198, 0.898)
		}
		&::-moz-input-placeholder{
			color: rgba(201, 198, 198, 0.898)
		}
		&::-ms-input-placeholder{
			color: rgba(201, 198, 198, 0.898)
		}
	}
	&__day-text, &__mounth-text, &__year-text {
		margin-top: 10px;
		font-size: 25px;
	}
	&__day-inp{
		width: 50px;
	}
	&__mounth-wrapper {
		display: flex;
		flex-direction: column;
	}
	&__mounth-inp {
		width: 50px;
	}
	&__year-wrapper {
		display: flex;
		flex-direction: column;
	}
	&__result-flex {
		margin-top: 20px;
		display: flex;
	}

	&__btn, &__btn-clear {
		display: block;
		padding: 8px 18px;
		font-size: 18px;
		margin: 0 auto;
	}
	&__btn-clear{
		display: none;
	}
	&__result-years,&__result-mounth, &__result-mounth, &__result-days, &__result-hour, &__result-minutes, &__result-seconds {
		margin: 0 10px;
		margin-bottom: 10px;
	}

	&__result-subtitle{
		margin-top: 20px;
		text-align: center;
	}

	&__result-years-wrapper, &__result-mounth-wrapper, &__result-days-wrapper, &__result-hour-wrapper, &__result-minutes-wrapper, &__result-seconds-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 10px;
	}
}

